<footer>
    <div class="container my-5">
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 py-5 text-center white-text elegant-color z-depth-1 rounded">
            <h3 class="">Made with <i class="fas fa-heart red-text mx-1"></i> by Huynh Tan Khoa</h3>
        </section>
        <!--Section: Content-->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8 col-lg-6 mx-auto">
                    <!-- Section: Block Content -->
                    <section>
                        <!-- Card -->
                        <div class="card testimonial-card">

                            <!-- Background color -->
                            <div class="card-up card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%286%29.jpg);">
                                <div class="rgba-black-strong h-100 p-3 white-text">
                                    <p class="font-weight-normal mb-0">Huynh Tan Khoa</p>
                                    <p class="small mb-0">Front-end Developer</p>
                                </div>
                            </div>

                            <!-- Avatar -->
                            <div class="avatar mx-auto white">
                                <img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.0-1/c1.0.160.160a/p160x160/91637404_933627117075864_6405876089133989888_n.jpg?_nc_cat=108&_nc_sid=dbb9e7&_nc_ohc=I8x4w6t1G0sAX-c-lXY&_nc_ht=scontent.fsgn2-3.fna&oh=505e713d64acc69428cb99d0ae70a739&oe=5EC9009F"
                                    class="rounded-circle" alt="man avatar">
                            </div>
                            <!-- Content -->
                            <div class="card-body px-3 py-4">
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <p class="font-weight-bold mb-0">20</p>
                                        <p class="small text-uppercase mb-0">Age</p>
                                    </div>
                                    <div class="col-sm-4 text-center border-left border-right">
                                        <p class="font-weight-bold mb-0">Student</p>
                                        <p class="small text-uppercase mb-0">Greenwich University</p>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <p class="font-weight-bold mb-0">2</p>
                                        <p class="small text-uppercase mb-0">Products</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Card -->

                    </section>
                    <!-- Section: Block Content -->


                </div>
            </div>
        </div>
    </div>

</footer>